*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 500;
  color: #343a40;
  line-height: 1;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
