*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1;
}

.app {
  width: 70rem;
  margin: 2rem auto;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

p {
  font-size: 2rem;
  margin-bottom: 2.8rem;
  color: #343a40;
}

button {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}
